.nav {
    grid-area: n;
    background-color: rgb(158, 215, 255);
    padding: 10px;
  }

  .item {
    color: white;
  }

  .item a {
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s;
  }

  .item a.active {
      color: #e5e5e5;
  }


  .item a:hover {
      color: #e5e5e5;
      transition: color 0.3s;
  }
